@import "tailwindcss";

@theme {
  --color-preproute-blue: #6366f1; /* the Login button / indigo accent */
  --color-preproute-bg: #f7fbff; /* the light gray panel background */
  --color-preproute-primary: #5988ef; /* login button */
  --color-login-form-border: #60a5fa; /* semantic-border-strong */
  --color-input-placeholder: #d1d5db; /* semantic-text-color-disabled */
  --color-text-gray: #374151;
  --color-input-border: #9ca3af;
  --color-primary-brand: #1b5def;
}
